@model IEnumerable<Bmazon.Data.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Text</h3>
<table class="table">
    <tr>
        <th>
           Customer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPayment)
        </td>
        <td>
            @Html.EnumDropDownListFor(modelItem => item.Status, new { Id = item.OrderID })
        </td>
        <td>
           <a href="#">Detail</a>
        </td>
    </tr>
}

</table>
@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('select').change(function () {
                var statusValue = $(this).val()
                var orderId = $(this).attr('id')
                $.ajax({
                    method: "POST",
                    url: "/Order/UpdateStatus",
                    data: '{id: "' + orderId + '", statusValue: "' + statusValue + ' "}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    failure: function (response) {
                        alert("Fail to change the order status");
                    }
                })
            })
        });
    </script>
}
  
