@model Bmazon.Models.ReviewViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Description
        </th>
        <th>
            Availabe Number
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Products)
{
    string selectedRow = "";
    if (item.ProductID == ViewBag.ProductID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Select", "SellerIndex", new { id = item.ProductID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>
    </tr>
}
</table>

@if (Model.Reviews != null)
{
    <h3>Reviews for Selected Product</h3>
    <h4>Rating: @Model.AverageRating</h4>     
    <table class="table">
        <tr>
            <th>Reviewer</th>
            <th>Rating</th>
            <th>Comment</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @item.Reviewer
                </td>
                <td>
                    @item.Rating
                </td>
                <td>
                    @item.Comment
                </td>
            </tr>
        }
    </table>
}